// Gray
$color-gray-050: #f9f9fb;
$color-gray-100: #f3f3f6;
$color-gray-200: #e5e5eb;
$color-gray-300: #d1d1db;
$color-gray-400: #9d9caf;
$color-gray-500: #6c6b80;
$color-gray-600: #4c4b63;
$color-gray-700: #383751;
$color-gray-800: #201f37;
$color-gray-900: #121127;

// Indigo
$color-indigo-500: #444bd3;
$color-indigo-600: #3f43c8;
$color-indigo-700: #3638bc;

// Purple
$color-purple-500: #8b5cf6;
$color-purple-600: #7c3aed;
$color-purple-700: #6d28d9;

// Light Blue
$color-light-blue-050: #daefff;
$color-light-blue-100: #c5e6ff;
$color-light-blue-200: #abdcff;
$color-light-blue-300: #78c5fd;
$color-light-blue-400: #44b0ff;
$color-light-blue-500: #27a4ff;
$color-light-blue-600: #1691eb;
$color-light-blue-700: #2269d5;
$color-light-blue-800: #1b47b9;
$color-light-blue-900: #163b9a;

// Blue
$color-blue-500: #27a4ff;
$color-blue-600: #4c7ce5;
$color-blue-700: #496ad0;

// Yellow
$color-yellow-900: #f25722;
$color-yellow-800: #fc7125;
$color-yellow-700: #ff8127;
$color-yellow-600: #ff9129;
$color-yellow-500: #ff9e2a;
$color-yellow-400: #ffac3d;
$color-yellow-300: #ffbc5d;
$color-yellow-200: #ffd89f;
$color-yellow-100: #ffe7c7;
$color-yellow-050: #fff4e6;

// Green
$color-green-500: #10b981;
$color-green-600: #059669;
$color-green-700: #047857;

// Cyan
$color-cyan-500: #43d6e8;
$color-cyan-600: #3ec4d5;
$color-cyan-700: #38aeba;

// Red
$color-red-500: #ef4444;
$color-red-600: #dc2626;
$color-red-700: #b91c1c;

// Pink
$color-pink-500: #ec4899;
$color-pink-600: #db2777;
$color-pink-700: #be185d;
